.top{
    .logo {
        display: inline-block;
          width: 40px;
          height: 40px;
          background-image: url(./s.gif);
          background-size: contain;
    }
    color:#666;
}

.mainer{margin:30px 0;border:1px solid  #333;padding:1em;}

  .bottom {
    margin-top:30px;
  }
