
  .top {
  display: flex;
    color: #FF9302;
    .logo {
        display: inline-block;
          width: 200px;
          height: 200px;
          background-image: url(./s.gif);
          background-size: contain;
    }
  }
  .bottom {
    color: #F00000;
  }
